@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;500&family=Oswald:wght@600;700&family=Roboto&family=Ubuntu&display=swap');

:root{
    --primary1: #14213D;
    --primary2: #E5E5E5;
    --primary3: #FCA311;
    --secondary1: #000000;
    --secondary2: #FFFFFF;
    --secondary3: #0A111F;
    --secondary4: #0F192E;
    --secondary5: #050910;
    --hovers1: rgb(170, 170, 170);
}
body {
    background-color: var(--primary1);
    color: var(--primary3);
    text-align: center;
}
h1 {
    font-family: "Heebo";
    font-size: 150px;
    margin-bottom: -95px;
}
h2 {
    font-family: "Ubuntu";
    font-size: 35px;
}
p {
    margin-top: 50px;
    font-family: "Roboto";
    font-size: 25px;

}
a {
    text-decoration: none;
    color: var(--primary2);
}